asgiref==3.2.3
astroid==2.2.5
boto==2.49.0
boto3==1.10.45
botocore==1.13.45
certifi==2019.11.28
chardet==3.0.4
Click==7.0
coverage==4.5.4
dj-database-url==0.5.0
Django==1.11.24
django-forms-bootstrap==3.1.0
django-storages==1.8
dnspython==1.16.0
docutils==0.15.2
gunicorn==19.9.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
kaggle==1.5.0
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==4.3.0
psycopg2==2.7.3.2
pylint==2.3.1
pylint-django==2.0.11
pylint-plugin-utils==0.5
pymongo==3.8.0
PyMySQL==0.9.3
python-dateutil==2.8.1
python-slugify==1.2.6
pytz==2019.3
requests==2.22.0
rope==0.14.0
s3transfer==0.2.1
six==1.13.0
sqlparse==0.3.0
stripe==2.41.0
tqdm==4.28.1
typed-ast==1.4.0
Unidecode==1.0.23
urllib3==1.25.7
Werkzeug==0.16.0
whitenoise==5.0.1
wrapt==1.11.2
